.card-order{
    width: 100%;
    background-color: #d00000;
    border-radius: 20px;
    text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
    box-shadow: 1px 1px 2px red, 0 0 25px #d00000, 0 0 5px #d00000;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
hr{
    width: 95%;
}

.card-info-client{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 12px;
}

.card-info-client-header{
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 12px;
}
