

.react-kanban-board{
    /*justify-content: space-between !important;*/
    /*align-items: center !important;*/
    /*justify-items: center !important;*/
    /*align-content: center !important;*/
    /*align-self: center;*/
    width: 99% !important;
    //background-color: red;
}
.react-kanban-column{
    background-color: #1c1c1c;
    color: white;


}
.react-kanban-card{
    color: white;
    background-color: #d00000;
    width: 100% !important;
    text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
    box-shadow: 1px 1px 2px red, 0 0 25px #d00000, 0 0 5px #d00000;
}


.header-button-board{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    margin: 1%;
    flex-wrap: nowrap;

}
@media screen and (max-width: 1700px) {
    .react-kanban-column{

        width: 22%;
    }
}
@media screen and (max-width: 1580px) {
    .react-kanban-column{

        width: 20%;
    }
}

@media screen and (max-width: 1480px) {
    .react-kanban-column{

        width: 18%;
    }
}

@media screen and (max-width: 1380px) {
    .react-kanban-column{

        width: 17%;
    }
}

@media screen and (max-width: 1280px) {
    .react-kanban-column{

        width: 16%;
    }
}

@media screen and (max-width: 1180px) {
    .react-kanban-column{

        width: 16%;
    }
}

@media screen and (max-width: 1000px) {
    .react-kanban-column{

        width: 15%;
    }
}
