.field-container{
    width: 80%;
    height: 10%;
    border-radius: 20px;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 2%;
    margin: 3%;


}
.field{
    width: 80%;
    border: 0px;
    font-size: 22px;
    background-color: transparent;

}
.icon-login{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #FA8729;
    text-shadow:  1px 1px 5px #FA8729, 0 0 200px #FA8729, 0 0 1px #FA8729;

}

@media screen and (max-width: 740px) {
    .field-container{
        width: 100%;
    }
    .field{
        width: 80%;
    }
}
@media screen and (max-width: 380px) {
    .field-container{
        width: 100%;
    }
    .field{
        width: 60%;
    }
}
