.button{
    background-color: #d00000;
    color: white;
    padding: 1%;
    height: 10%;
    cursor: pointer;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
    box-shadow: 1px 1px 2px red, 0 0 25px #d00000, 0 0 5px #d00000;
}
.button-sencond{
    background-color: #FA8729;
    color: white;
    padding: 1%;
    height: 10%;
    cursor: pointer;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    text-shadow: 1px 1px 2px #FA8729, 0 0 25px white, 0 0 5px white;
    box-shadow: 1px 1px 5px #FA8729, 0 0 200px #FA8729, 0 0 1px #FA8729;
}

.button-redounded{
    background-color: #d00000;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: 0px;
    padding-top: 4px;
    border-radius: 10%;
    text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white;
    box-shadow: 1px 1px 5px #d00000, 0 0 200px #d00000, 0 0 1px #d00000;
    margin: 10px;
}


button:active {
    box-shadow: 0 2px 0 #d00000;
    transform: translateY(3px);
}

/*@media screen and (max-width: 400px) {*/
/*    .button-redounded{*/
/*        width: 80%;*/
/*    }*/
/*}*/



