.card-container-client{
    background-color: white;
    border-radius: 20px;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 1%;
    flex-direction: row;
    flex-wrap: wrap;

}


.header-button-client{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin: 1%;
    flex-wrap: nowrap;

}


