.center-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top:1%;
}

.header-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 1%;

}

.title-category{
    background-color: #a90303;
    width: 100%;
    border-radius: 10px;
    padding-left: 5px;
    color: white;
}

.card-menu {
    background-color: white;
    border-radius: 20px;
    width: 99%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1%;
    flex-direction: row;
    flex-wrap: wrap ;


}
.card-container {
    background-color: white;
    border-radius: 20px;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1%;
    flex-direction: column;
    flex-wrap: wrap ;


}

@media screen and (max-width: 901px) {
    .card-menu{
        justify-content: center;
        align-items: center;
        align-content: flex-start;

    }
}


.responsive {
    width: 200px;
    height: 200px;
  }



  @media screen and (max-width: 500px) {
    .responsive {
        width: 100px;
        height: 100px;
      }
}


