.card-product{
    background-color: white;
    border-radius: 20px;
    border: solid #a90303;
    width: 20%;
    height: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 1%;



}
.price-text{
    font-weight: bold;
    color: #a90303;
    font-size: 21px;
    margin: 3px;
}
.img-product{
    width: 100%;
    height: 260px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.description-product{
    font-size: 10px;
    margin: 5px;
}

@media screen and (max-width: 1501px) {
    .card-product{
        width: 30%;
        height: 80%;
    }
}
@media screen and (max-width: 1201px) {
    .card-product{
        width: 30%;
        height: 70%;
    }
}
@media screen and (max-width: 901px) {
    .card-product{
        width: 30%;
        height: 54%;

    }
}
@media screen and (max-width: 654px) {
    .card-product{
        width: 42%;
        height: 54%;

    }
}

@media screen and (max-width: 400px) {
    .card-product{
        width: 80%;
        height: 54%;

    }
}


