.cart-box{
    background-color: white;
    border-radius: 20px;
    border: solid #a90303;
    width: 20%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 1%;



}

.img-product-cart{
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    width: 100%;
    height: auto;
}

.detail-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
    padding-right: 10px;
}
.card-info-cart{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 12px;
}
