.title-header{
    font-size: 70px;
    color: white;
    text-shadow:  1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

.center-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.between-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}


@media screen and (max-width: 1377px) {
    .title-header {
        font-size: 50px;
    }
}

@media screen and (max-width: 877px) {
    .title-header {
        font-size: 30px;
    }
}
@media screen and (max-width: 557px) {
    .title-header {
        font-size: 20px;
    }
}


