.card-selected{
    background-color: #a90303;
    border-radius: 20px;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1%;
    flex-direction: column;
    box-shadow: 6px 6px 25px black;
    margin-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.icon-main{
    font-size: 340px;
    color: white;
    text-shadow:  1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}


.title-card{
    font-size: 40px;
    color: white;
    text-shadow:  1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

.zoom {
    transition: transform .2s;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1%;
    flex-direction: column;
    box-shadow: 6px 6px 25px black;
    margin-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .card-selected{
        width: 70%;
        margin-bottom: 10%;
        top: 10%;
    }
    .icon-main{
        font-size: 200px;
    }
}

@media screen and (max-width: 330px) {
    .card-selected{
        width: 70%;
        margin-bottom: 10%;
    }
    .icon-main{
        font-size: 200px;
    }
}

