
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.icon-login-bk1{
    font-size: 340px;
    transform: rotate(40deg);
    position:absolute;
    right:20px;
    top:30px;
    color: #FA8729;
    text-shadow:  1px 1px 2px red, 0 0 25px #d00000, 0 0 5px #d00000;
}
.icon-login-bk2{
    font-size: 240px;
    transform: rotate(0deg);
    position:absolute;
    left:100px;
    top:70%;
    color: #FA8729;
    text-shadow:  1px 1px 2px red, 0 0 25px #d00000, 0 0 5px #d00000;
}
.card {
    background-color: #1c1c1c;
    border-radius: 20px;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: 1%;
    flex-direction: column;
    box-shadow: 6px 6px 25px black;


}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.card-animation {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    background: #333;
    padding: 30px;
}



@keyframes slideInFromLeftIcon {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.icon-animation {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeftIcon;

    background: #333;
    padding: 30px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

img-center{
    width: auto;
    height: auto;
}

@media screen and (max-width: 1300px) {
    .icon-login-bk1 {
        font-size: 200px;
    }
    .icon-login-bk2 {
        font-size: 150px;
    }
    .card{
        width: 50%;
    }
}
@media screen and (max-width: 1000px) {
    .icon-login-bk1 {
        font-size: 100px;
    }
    .icon-login-bk2 {
        font-size: 100px;
        left:20px;

    }
    .card{
        width: 50%;
    }
}

@media screen and (max-width: 740px) {
    .icon-login-bk1 {
        font-size: 50px;
    }
    .icon-login-bk2 {
        font-size: 50px;
        left:0px;
        display: none;

    }
    .card{
        width: 70%;
    }
}

