.card-container-cart{
    background-color: white;
    border-radius: 20px;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 1%;
    flex-direction: row;
}


