.zoom-client {
    transition: transform .2s;
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1%;
    flex-direction: column;
    margin-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}


.zoom-client:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    cursor: pointer;
}
